<!-- LA NAV BAR -->
  <nav class= "nav">
    <div class="leftnav">
      <div class="namesite"><img src="http://www.marketing-chine.com/wp-content/uploads/2017/09/crypto-monnaie.png" class="namesite"> </div>
    </div>
    <div class="avatar">
      <img src="https://cdn-images-1.medium.com/max/1200/1*xK5EydI1_afaq61elDvkuw.png" class="avatarpix">
    </div>
  </nav>

  <!-- LES CARDS -->
  <div class="title"><p>my favourite crypto</p></div>
    <div class="cards">
      <div class="card">
        <img src="https://logos-download.com/wp-content/uploads/2016/06/Bitcoin_logo.png" class="cardavatar">
        <div class="cardcathegorie"><p></p></div>
        <div class="carddescription"><p></p></div>
      </div>

      <div class="card">
        <img src="https://dwglogo.com/wp-content/uploads/2017/08/Litecoin_logo.png" class="cardavatar">
        <div class="cardcathegorie"><p></p></div>
        <div class="carddescription"><p></p></div>
      </div>

      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Monero-Logo.svg/1280px-Monero-Logo.svg.png" class="cardavatar">
        <div class="cardcathegorie"><p></p></div>
        <div class="carddescription"><p></p></div>
      </div>

      <div class="card">
        <img src="https://portaldobitcoin.com/wp-content/uploads/2018/02/Cardano-logo.png" class="cardavatar">
        <div class="cardcathegorie"><p></p></div>
        <div class="carddescription"><p></p></div>
      </div>

      <div class="card">
        <img src="https://bitcoinist.com/wp-content/uploads/2017/06/eth-logo.jpg" class="cardavatar">
        <div class="cardcathegorie"><p></p></div>
        <div class="carddescription"><p></p></div>
      </div>

    </div>

    <!-- LA TAB -->
  <div class="tabbs">
    <ul class="tabs">

      <li class="tab">
          <input type="radio" name="tabs" checked="checked" id="tab1" />
          <label for="tab1">BITCOIN</label>
          <div id="tab-content1" class="content">
            <h1>Bitcoin</h1>
            <hr/>
            <h3></h3>
            <br/>
            <p></p>
          </div>
      </li>

      <li class="tab">
        <input type="radio" name="tabs" id="tab2" />
        <label for="tab2">LITECOIN</label>
        <div id="tab-content2" class="content">
            <h1>Litecoin</h1>
            <hr/>
            <h3></h3>
            <br/>
            <p></p>
         </div>
      </li>

       <li class="tab">
        <input type="radio" name="tabs" id="tab3" />
        <label for="tab3">ETHEREUM</label>
        <div id="tab-content3" class="content">
            <h1>Ethereum</h1>
            <hr/>
            <h3></h3>
            <br/>
            <p></p>
        </div>
      </li>

      <li class="tab">
        <input type="radio" name="tabs" id="tab4" />
        <label for="tab4">CARDANO</label>
        <div id="tab-content4" class="content">
            <h1>Cardano</h1>
            <hr/>
            <h3></h3>
            <br/>
            <p></p>
        </div>
      </li>
      <li class="tab">
        <input type="radio" name="tabs" id="tab4" />
        <label for="tab4">MONERO</label>
        <div id="tab-content4" class="content">
            <h1>Monero</h1>
            <hr/>
            <h3></h3>
            <br/>
            <p></p>
        </div>
      </li>
    </ul>
  </div>
